<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
    <p>By: {{painting.artist}}</p>
    <p>Exhibition open until: {{ format_date painting.exhibition_date}}</p>
  </div>
</section>
<form>
  <label>Enter Blog Title</label>
  <input id="title" type="text" />
  <label>Content</label>
  <input id="content" type="text" />
<button id="saveblog">Save Blog</button>
</form>
